*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33333336;
}
li {
    display: inline;
    float: right;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:monospace;
  }
  
  
li a:hover {
    background-color: #111;
  }
#logo{
    margin-top: 10px;
    margin-left: 5px;
  }
nav{
    z-index: 99999;
    
    
}
.navbar{
    position: fixed;
    top: 0%;
    width: 100%;
    box-sizing: border-box;
}
body{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    background-color: #111;
    color: white;    
}
h2{
    font-family:monospace;

}
#banner{
    background-size: cover;
    color :white;
    height :428px;
}
#banner-content{
    margin-left: 30px;
    padding-top: 120px;
    height: 190px;
}
#title{
    font-size: 3rem;
    font-weight: 800;
    font-family:monospace;
    padding-bottom: 0.3rem;
}
#discription{
    width:45rem;
    line-height: 1.1rem;
    padding-top: 1rem;
    height:80px;
    font-size: 0.8rem;
    max-width: 360px;
    font-family:monospace;
}
.ban-btn , button{
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    margin-left: 1rem;
    font-weight: 700;
    border-radius: 2px;
    background-color: rgba(51,51,51,0.5);
    padding: 0.5rem 2rem;
    font-family:monospace;
}
.ban-btn:hover , button:hover{
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner-fade{
    height:7.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
   
}
.mrow{
    margin-left: 20px;
    margin-top: 5px;
}
.imga-con{
    display: flex;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.imga-con::-webkit-scrollbar{
    width: 0;
    background-color: rgba(0,0,0, 0.1);
}
.image{
    width:100%;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
}
.image:hover{
    transform: scale(1.08);
}
.largerimage{
    max-height: 250px;
}
.con{
    width: 60%;
    display :none;
    justify-content: space-between;
    max-height: 500px;
    margin :20px auto; 
    background-color: black;   
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%); 
}
#movpos img {
    max-height: 500px;
}
.details{
    padding :10px 20px;
}
#titlee{
    font-size: 3rem;
    font-weight: 800;
    font-family: monospace;
    

}
.smalldetails{
    display: flex;
    padding: 0px;
}
#lan{
    border-left: 2px solid white;
    border-right: 2px solid white ;
}
.smalldetails p {
    padding: 4px 5px;
    font-family:monospace;
}
#disc{
    font-size: 0.8rem;
    padding:0.1rem;
    line-height: 1.3rem;
    font-family:monospace;

}
#play {
    margin-top: 20px;
    font-family:monospace;
}
#close{
    position: relative;
    right: 10px;
    height: fit-content;
    top: 10px;
    border: none;
    border-radius: 150px;
    font-size: 20px;
    padding:5px 12px;
    cursor: pointer;
    font-weight: 600;
}